.App {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(247, 189, 228);
  padding: 0 1% ;
  
  
}
.Typography{
  border-bottom: solid 1px rgb(248, 102, 199);
  margin-top: 2% ! important;
}
.divButtonRol {
  cursor: pointer;
}

.App h1 {
  text-align: center;
  font-family: 'Germania One', cursive;
}

.App nav {
  border-bottom: solid 1px rgb(248, 102, 199);
  background-color: rgba(248, 102, 199, 0.4);
  padding-top: 2%;
}

.App nav a {
  font-family: 'Baloo Chettan', cursive;
  color: #423448;
  text-decoration:none;
}

.App nav a:hover {
  font-family: 'Baloo Chettan', cursive;
  color: #721796;
  text-decoration:none;
}

.App a {
  color: #64008f;
  text-decoration:none;
  font-family: 'Baloo Chettan', cursive;
}

.App a:hover {
  color: #d37ff5;
  text-decoration:none;
  font-family: 'Baloo Chettan', cursive;
}
.FooteraApp {
  padding-top: 1%;
  background-color: rgb(247, 189, 228);
}

ul.albums {
  margin: 0;
  padding: 0;
  /* max-height: 50vh; */
  overflow-y: auto;
  overflow-x: hidden;
}

img.cover {
  max-width:60px;
  margin-left: 30px;
  float: left; 
  border-radius: 50px;
}

.albums > li {
  margin: 1em 0 0 0;
  list-style-type: none;
}

.albums > li > a{
  text-decoration: none;
}


.name {
  font-family: 'Playfair Display', serif;
  margin-left:20px;
}

.time {
  font-style: italic;
  margin-left: 20px;
}

.artist {
  font-family: 'Open Sans', sans-serif;
  font-size: 85%;
  font-style: italic;
  margin-left:20px;
  width:100%;
}

.player {
  width: 200px;
  font-size: 30px;
  margin: 20px auto;
  text-align: center;
}

audio{
  background: #ffffff;;
  width:400px;
  padding:20px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #721796;
  -webkit-box-shadow:  2px 2px 4px 0px #721796;
  box-shadow: 2px 2px 4px 0px #d37ff5;
  -moz-border-radius:7px 7px 7px 7px ;
  -webkit-border-radius:7px 7px 7px 7px ;
  border-radius:7px 7px 7px 7px ;
}

.songs > li {
  margin: 1em 0 0 0;
  list-style-type: none;
  border-radius: 50px;
  max-width:200px;
  margin: 10px 0;
  -moz-box-shadow: 2px 2px 4px 0px #721796;
  -webkit-box-shadow:  2px 2px 4px 0px #721796;
  box-shadow: 2px 2px 4px 0px #721796;
}

.songs > li > a{
  text-decoration: none;
}

ul.songs {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.song {
  font-family: 'Open Sans', sans-serif;
  font-size: 85%;
  font-style: italic;
}

.albumDetail {
  margin: 20px 0;
  text-align: center;
}

img.cover-big {
  border-radius: 50px;
  max-width:200px;
  margin: 10px 0;
}

.name-detail {
  font-family: 'Playfair Display', serif;
}

.artist-detail {
  font-family: 'Open Sans', sans-serif;
  font-size: 85%;
  font-style: italic;
} 

.btn-primary {
  background-color: #004FA8;
  border-color: #004FA8;
}

ul.albums {
  margin: 0;
  padding: 0;
}
img.cover {
  max-width:60px;
  margin-right: 1em;
}

.albums > li {
  margin: 1em 0 0 0;
  list-style-type: none;
}

.albums > li > a {
  color: inherit;
  text-decoration: none;
}

.albums > li > a > .name {
  position: absolute;
  margin-top: 5px;
  font-family: 'Playfair Display', serif;
}

.albums > li > a > .artist {
  font-family: 'Open Sans', sans-serif;
  font-size: 85%;
  font-style: italic;
  position: relative;
  top: 12px;
}

a.album-play {
  font-size: 50px;
  color: white;
  margin-left: -10px;
}